<div class="home-container">

  <header class="home-header">
    <div class="header-top">
      <h1>Bem-vindo ao Catálogo</h1>
  <button mat-raised-button color="warn" class="btn-adm" type="button" [routerLink]="['/login']" routerLinkActive="active" >ADM</button>

    </div>
    <p>Explore nossos produtos e fale diretamente pelo WhatsApp!</p>
  </header>


  <img src="assets/cabelo.jpg"  style="width: 200px; height: auto; border: 1px solid red;" />



  <section class="home-destaques">
    <h2>Mais vendidos</h2>
    <p>Confira os produtos mais procurados pelos nossos clientes</p>

    <div class="catalogo-descricao">
      <h3>Explore nosso catálogo exclusivo</h3>
      <p>Produtos selecionados com qualidade e preço justo para você.</p>
      <p>Encontre o que precisa de forma fácil e rápida.</p>
    </div>

    <button mat-raised-button color="accent" [routerLink]="['/produtos']" routerLinkActive="active">Ver produtos</button>
  </section>
</div>
