.login-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #121212 20%, #b9545493 100%);
  padding: 2rem;
  color: #fff;
  gap: 2rem;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background-color: #1a1a1a;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 255, 255, 0.15);
  text-align: center;

  h1 {
    color: #00ffc8;
    margin-bottom: 2rem;
    font-weight: 700;
  }

  .full-width {
    width: 100%;
  }

  .btn-login {
    margin-top: 1.5rem;
    width: 100%;
    background-color: #00ffc8;
    color: #000;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 255, 200, 0.5);
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: #00b899;
      color: #fff;
    }
  }
}

.botoes-acao {
  display: flex;
  gap: 2rem; // aumenta o espaço entre os dois botões
  margin-top: 1rem; // separa os botões do card

  button {
    color: #00ffc8;
    border-color: #00ffc8;
    font-weight: bold;
    transition: 0.3s ease;
    padding: 0.6rem 1.4rem;

    &:hover {
      background-color: #00ffc820;
      color: #fff;
    }
  }
}
